[submodule "plugins/js2-mode"]
	path = plugins/js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "plugins/yasnippet"]
	path = plugins/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "plugins/clojure-modules/clojure-mode"]
	path = plugins/clojure-modules/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule "plugins/clojure-modules/slime"]
	path = plugins/clojure-modules/slime
	url = git://github.com/technomancy/slime.git
[submodule "plugins/clojure-modules/ac-slime"]
	path = plugins/clojure-modules/ac-slime
	url = git://github.com/purcell/ac-slime.git
